/* RealEstateSection.module.css */

.realEstateSection {
  background-color: #0f021b;
  padding: 2rem 20px 110px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: -10rem;
  height: 38vw;
}

.content h2 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  max-width: 1060px;
  line-height: 1.4;
  margin: 0px auto 30px;
}

.content p {
  font-size: 1.2em;
  color: #666;
  max-width: 800px;
  margin: 0 auto;
}

.rocketContainer {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.rocketContainer svg {
  width: 100%;
  height: 100%;
  max-width: 230px;
}

.rocket {
  width: 100%;
  height: 100%;
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Rocket_icon.svg/1200px-Rocket_icon.svg.png') no-repeat center center;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: rocket-animation 4s linear infinite;
}

@keyframes rocket-animation {
  0% {
    transform: translateY(0) translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: translateY(-200px) translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 0;
  }
}

.cloudImage {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.cloudImage img {
  width: 100%;
  height: 100%;
}

/* WebDevelopment */
.section_services {
  z-index: 2;
  background-color: #0f021b;
  position: relative;
  overflow: hidden;
  padding: 1rem 0px 5rem;
}

.containerlarge {
  max-width: 114rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.services_content {
  z-index: 2;
  background-color: var(--main-background);
  background-image: radial-gradient(circle at 50% 0, #621e984d, #0f021b 85%), url(https://cdn.prod.website-files.com/65c35ac6dc098b186197b173/668527c13db5b491d5785d35_Grid.webp);
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  padding: 4.5rem;
  display: grid;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 -.25rem .5rem #ffffff0d, inset 0 .25rem .5rem #ffffff24;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  color: #fff;
}

.services_content h2 {
  color: #fff;
  font-size: 3.25rem;
  font-weight: 400;
  line-height: 1.08;
  max-width: 40rem;
  width: 100%;
  margin: 20px 0px 0px;
}

.services_contentLeft p {
  color: #cbcbcb;
  max-width: 40rem;
  margin: 30px 0px;
}

.services_contentright h4 {
  color: #fff;
  font-size: 22px;
  margin: 0px 0px 10px;
  line-height: 30px;
}

.services_contentright p {
  color: #cbcbcb;
  line-height: 22px;
  margin: 0px;
  font-size: 1.125rem;
}

.services_contentright {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.services_contentright > div {
  border-bottom: 1px solid #ffffff7a;
  padding-bottom: 40px;
}

.services_contentright > div:nth-child(4) {
  border: 0px;
  padding: 0px;
}

@media (max-width: 1280px) {
  .realEstateSection {
    height: 50vw;
  }
}

@media (max-width: 991px) {
  .content h2 {
    font-size: 32px;
    line-height: 1.4;
  }

  .realEstateSection {
    padding: 4rem 20px 110px;
    height: 100%;
  }

  .rocket {
    display: none;
  }
}

@media (max-width: 767px) {
  .section_services {
    padding: 1rem 20px 5rem;
  }
}
